<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caripc.sample.client">

    <uses-permission android:name="com.caripc.permission.ACCESS_REGISTRY" />

    <queries>
        <package android:name="com.caripc.registry" />
    </queries>

    <application
        android:label="CarIpc Sample Client (A)"
        android:allowBackup="false">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
